@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: fixed;
    background-image: url(../images/man.png);
}

.logo-container {
    font-size: 30px;
    font-weight: bold;
    color: #9c3838;
    text-align: center;
    margin-right: 45%;
}

.table-container {
    margin-top: 30px;
    margin-left: 5%; /* Adjust the margin as needed */
    margin-right: 5%; /* Adjust the margin as needed */
    max-width: 90%; /* Adjust the width as needed */
    overflow-x: auto; /* Add horizontal scrolling if needed */
}

table {
    border-collapse: collapse;
    width: 100%; /* Stretch the table to 100% of the container */
    font-size: 14px;
    border-spacing: 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background: #3498db;
    color: white;
}

td {
    background: #ecf0f1;
}

th:nth-child(even) {
    background: #2980b9;
}

th:nth-child(odd) {
    background: #df2323;
}

@media screen and (max-width: 768px) {
    table {
        font-size: 12px;
    }
}

/* Make the table cells responsive when the sidebar is expanded */
@media (min-width: 992px) {
    .l-navbar.active + .container .table-container {
        max-width: calc(100% - 260px);
    }
}