<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <title>Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../css/dashboard.css" />
</head>

<body id="body-pd">
    <div class="bgv-container">
        <video autoplay loop muted plays-inline class="bgv">
            <source src="../images/transport.mp4" type="video/mp4">
        </video>
    </div>
    <header class="header" id="header">
        <div class="header_toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>
        <div class="user-info">
            <span class="welcome-text">Welcome! to SCMXPertLite,</span>
        </div>

    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <div class="nav_list">
                    <a href="dashboard.html" class="active">
                        <i class='bx bx-grid-alt nav_icon'></i>
                        <span class="nav_name">Dashboard</span>
                    </a>
                    <a href="myaccount.html" class="nav_link">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name">My Account</span>
                    </a>
                    <a href="myshipment.html" class="nav_link">
                        <i class='bx bxs-book-content'></i>
                        <span class="nav_name">My Shipment</span>
                    </a>
                    <a href="createshipment.html" class="nav_link">
                        <i class='bx bxs-truck'></i>
                        <span class="nav_name">New Shipment</span>
                    </a>
                    <a href="viewallshipments.html" class="nav_link viewShipments">
                        <i class='bx bx-package'></i>
                        <span class="nav_name">View Shipments</span>
                    </a>
                    <a href="devicedata.html" class="nav_link deviceData">
                        <i class='bx bx-hdd'></i>
                        <span class="nav_name">Device Data</span>
                    </a>

                </div>
            </div>
            <a href="../index.html" class="nav_link logout">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">SignOut</span>
            </a>
        </nav>
    </div>


    <!--Container Main start-->
    <div class="center-buttons">
        <a href="createshipment.html">
            <button type="button" class="big-button">
                Create New Shipment
            </button>
        </a>
        <a href="devicedata.html">
            <button type="button" class="big-button">
                Device Data
            </button>
        </a>
    </div>

    <!--Container Main end-->
    <script src="../js/dashboard.js"></script>

</body>

</html>