<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup Page</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="../css/signup.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/forgotpassword.js"></script>
</head>

<body>
    <div class="container">
        <div class="form">
            <div class="form-login">
                <img src="../images/SCMlogo.png" alt="Logo" class="logo">
                <div id="backEndMessage" style="margin: auto;">
                    <p style="color: red; font-size: small; text-align: center;">Email does not Exist!</p>
                </div>
                <span class="title">Password Reset</span>
                <!-- <form action="#" autocomplete="off" id="forgot-password-form"> -->
                    <div class="input-field">
                        <input type="email" name="email" class="email" placeholder="Enter your email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="error-message" id="email-error">Enter Email</div>


                    <div class="input-field button">
                        <input type="submit"  id="submit-button" value="Send mail" id="send-reset-email">
                    </div>
                <!-- </form> -->
            </div>
        </div>
    </div>
</body>

</html>