<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/resetpass.js"></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="../css/signup.css">
</head>

<body>
    <div class="container">
        <div class="form">
            <div class="form-login">
                <img src="../images/SCMlogo.png" alt="Logo" class="logo">
                <span class="title">Enter your new password</span>

                    <div class="input-field">
                        <input type="password" name="password" class="password" placeholder="Create a new password" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <div class="error-message" id="password-error">Enter new password</div>

                    <div class="input-field">
                        <input type="password" name="confirm_password" class="confirmpassword" placeholder="Confirm new password" required>
                        <i class="uil uil-lock-access icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <div class="error-message" id="confirm-password-error">Enter Confirm Password</div>
                    
                    <div class="input-field button">
                        <input type="submit"  id="submit-button" value="Save">
                    </div>
                
                <div class="login-signup">
                    <a href="login.html" class="text signup-text">Sign in</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>