<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <title>Change Role</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="../css/dashboard.css" />
    <link rel="stylesheet" href="../css/role.css" />
    <script src="../js/updaterole.js"></script>
    <script src="../js/dashboard.js"></script>
</head>

<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>
        <div class="logo-container">
            <span>Change Role of the User</span>
        </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <div class="nav_list">
                    <a href="dashboard.html" class="nav_link">
                        <i class='bx bx-grid-alt nav_icon'></i>
                        <span class="nav_name">Dashboard</span>
                    </a>
                    <a href="myaccount.html" class="active">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name">My Account</span>
                    </a>
                    <a href="myshipment.html" class="nav_link">
                        <i class='bx bxs-book-content'></i>
                        <span class="nav_name">My Shipment</span>
                    </a>
                    <a href="createshipment.html" class="nav_link">
                        <i class='bx bxs-truck'></i>
                        <span class="nav_name">New Shipment</span>
                    </a>
                    <a href="viewallshipments.html" class="nav_link">
                        <i class='bx bx-package'></i>
                        <span class="nav_name">View Shipments</span>
                    </a>
                    <a href="devicedata.html" class="nav_link">
                        <i class='bx bx-hdd'></i>
                        <span class="nav_name">Device Data</span>
                    </a>

                </div>
            </div>
            <a href="../index.html" class="nav_link logout">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">SignOut</span>
            </a>
        </nav>
    </div>


    <div class="role-change-container">
        <h2>Change User Role</h2>
        <div id="backEndMessage" style="margin: auto;">
            <p style="color: red; font-size: small; text-align: center;">Email Not Exist!</p>
        </div>
        <div id="successMessage" style="margin: auto;">
            <p style="color: green; font-size: small; text-align: center;">User role updated successfully</p>
        </div>
        <!-- <form class="role-change-form" action="#" autocomplete="off" method="#"> -->
            <div class="input-field">
                <label for="email">Enter the Email</label>
                <input type="email" name="email" id="email" placeholder="Enter the email" required>
                <div class="error-message" id="email-error">Enter Email</div>
            </div>

            <div class="input-field">
                <label for="role">Role</label>
                <select name="newrole" id="role" required>
                    <option value="" disabled selected>Select Role</option>
                    <option value="admin">Admin</option>
                    <option value="User">User</option>
                </select>
                <div class="error-message" id="role-error">Choose Role</div>
            </div>
            <button type="submit" id="submit-button">Change Role</button>

        <!-- </form> -->

    </div>
</body>

</html>