<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/viewallshipments.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/viewallshipments.js"></script>
    <script src="../js/dashboard.js"></script>
    <title>View Shipments</title>
</head>

<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>
        <div class="logo-container">
            <span>View Shipments</span>
        </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <div class="nav_list">
                    <a href="dashboard.html" class="nav_link">
                        <i class='bx bx-grid-alt nav_icon'></i>
                        <span class="nav_name">Dashboard</span>
                    </a>
                    <a href="myaccount.html" class="nav_link">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name">My Account</span>
                    </a>
                    <a href="myshipment.html" class="nav_link">
                        <i class='bx bxs-book-content'></i>
                        <span class="nav_name">My Shipment</span>
                    </a>
                    <a href="createshipment.html" class="nav_link">
                        <i class='bx bxs-truck'></i>
                        <span class="nav_name">New Shipment</span>
                    </a>
                    <a href="viewallshipments.html" class="active viewShipments">
                        <i class='bx bx-package'></i>
                        <span class="nav_name">View Shipments</span>
                    </a>
                    <a href="devicedata.html" class="nav_link deviceData">
                        <i class='bx bx-hdd'></i>
                        <span class="nav_name">Device Data</span>
                    </a>

                </div>
            </div>
            <a href="../index.html" class="nav_link">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">SignOut</span>
            </a>
        </nav>
    </div>

    <div class="table-scroll">
        <div class="container">
            <div class="table-container">
                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th>S.no</th>
                            <th>Username</th>
                            <th>Shipment Number</th>
                            <th>Container Number</th>
                            <th>Route Details</th>
                            <th>Goods Type</th>
                            <th>Device</th>
                            <th>Expected Delivery Date</th>
                            <th>PO Number</th>
                            <th>NDC Number</th>
                            <th>Delivery Number</th>
                            <th>Batch id</th>
                            <th>Serial Number of Goods</th>
                            <th>Shipment Description</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                                
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>